body{
            margin: 0;
            padding: 0;
        }
        .content{
            background-color: black;
        }
        .logo-details{
            padding: 12px;
        }
        .logo_name{
            font-size: 35px;
            color: white;
            position: absolute;
            padding: 17px;
        }
        .media-icons ul{
            display: flex;
            flex-direction: row;
            padding: 10px;
            justify-content: end;
            margin-top: 0px;
            margin-right: 32px;
        }
        .media-icons{
            list-style: none;
            margin-top: 1px;
            padding: 0;  
        }
        .media-icons li {
            margin: 0 10px;
            border: 1px solid black;
            border-radius: 20px;
            padding: 6px;
        }
        .media-icons a {
            text-decoration: none;
            color: white;
            font-size: 24px;
        }
        /* links section */
        .links-title{
            font-size: 20px;
            color: white;
            text-decoration: underline;
            text-underline-position:right;
            padding: 44px;
        }
        .link-boxes{
            display: flex;
            justify-content: space-between;
            margin-right: 26px;
        }
        .nav-link{
            margin-top: 40px;
        }
        .links{
            margin-top: 6px;
        }
        .links li{
            list-style: none;
            padding: 7px;
        }
        .links li a{
            color: darkgray;
            text-decoration: none;
        }
        /* section-3 */
        .bottom-details{
            background-color:#24292f;
            color: darkgray;
            display: flex;
            line-height: 10px;
            justify-content: space-between;
        }
        .copy-right{
            margin: 0px;
            padding: 12px;
            padding-left: 58px;
        }
        .Privacy{
            padding-right: 58px;
        }